@{
    ViewData["Title"] = "View Entries";
}

@model EntriesViewModel

<table>
    <tr>
        <th>Id</th>
        <th>Код</th>
        <th>Значение</th>
    </tr>

    @foreach(var entry in Model.Entries)
    {
        <tr>
            <td>@entry.Id</td>
            <td>@entry.Code</td>
            <td>@entry.Value</td>
        </tr>
    }
</table>
